:root {
  --mainGrey: grey;
  --lightGrey: #909090;
  --mainBlack: #1b1a1a;
  --lightGreen:  lightgreen;
  --mainWhite: #fff;
}
.max-height {
  min-height: 100vh;
}
body {
  background: var(--mainGrey);
}
.message-container {
  background: var(--lightGrey);
}
.message-content {
  color: var(--lightGreen);
}
#submitBtn {
  background: var(--mainGrey);
  color: var(--mainBlack);
}
#submitBtn:hover{
  color:var(--mainWhite)
}

.feedback {
  display: none;
}

.show {
  display: block;
}
